body {
    color: white;
    font-family: 'minecraft', 'sans-serif';
    background-image: url("/ressources/GIF/gameBg.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    margin: 7vh 10vh;
}

#secret_word {
    visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: right;
    align-items: flex-start;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: small;
    border-radius: 5px;
    font-family: 'minecraft';
    padding: 10px;
}

.victoire {
    visibility: hidden;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ffffff;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("/ressources/GIF/victoire.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.victoire_secret {
    visibility: hidden;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ffffff;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("/ressources/GIF/mlg.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grille {
    visibility: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ffffff;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("/ressources/GIF/grille.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lose {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ffffff;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("/ressources/GIF/lose.gif");
    background-position: center;
    background-size: contain;
}

.pseudo {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    border: 1px solid #ffffff;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("ressources/background-black.png");
    background-position: center;
    background-size: contain;
}

.loser {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    border: 1px solid #ffffff;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("ressources/background-black.png");
    background-position: center;
    background-size: contain;
    font-family: 'minecraft';
    font-size: 3em;
}

@font-face {
	font-family: 'atari';
	src: url('ressources/atari.ttf') format('truetype');
}

input {
    background-color: rgb(71, 83, 94);
    border: none;
    height: 50%;
    width: 50%;
    color: white;
    font-size: 10em;
    /*letter-spacing: 15px;*/
    font-family: 'atari';
    text-transform:uppercase;
}

#send{
    margin-top: 15px;
}

@keyframes background-defile {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

@font-face {
	font-family: 'minecraft';
	src: url('ressources/minecrafter/Minecrafter.Alt.ttf') format('truetype');
}

.titre {
    text-align: center;
    font-family: 'minecraft', 'sans-serif';
    color: #FFF;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 20%;
}
.grille div {
    width: 25px;
    height: 25px;
}
.tireur {
    background: url(ressources/space-invaders.png);
    background-position: center;
    background-size: contain;
}
.alien {
    background: url(ressources/ennemies.png);
    background-position: center;
    background-size: contain;
}
.aliens {
    background: url(ressources/ennemies.png);
    background-position: center;
    width: 100px;
}
.boom {
    background: url(ressources/explosion.png);
    background-position: center;
    background-size: contain; 
}
.laser {
    background: url(ressources/missile.png);
    transform: rotate(90deg);
    background-position: center;
    background-size: contain;
}

button, .chosen-diff {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'minecraft';
    padding: 10px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#launch{
    margin: 25px auto;
}

#difficulty{
    display: flex;
    justify-content: space-evenly;
}

.box{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    text-align: center;
}
.buttons {
    margin-top: 2%;
}

#play_again, #stop {
    display: none;
}

h3 {
    width: 50%;
    margin: 0vh auto 6vh;
}