body {
    background-color: black;
    color: white;
}

@font-face {
	font-family: 'minecraft';
	src: url('ressources/minecrafter/Minecrafter.Alt.ttf') format('truetype');
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-family: 'minecraft', 'sans-serif';
    color: #FFF;
}

.scores {
    border : 2px solid white;
    height: 560px;
}

.score {
    border: 3px solid red;
    height: 50px
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid white
}