body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@font-face {
	font-family: 'minecraft';
	src: url('ressources/minecrafter/Minecrafter.Alt.ttf') format('truetype');
}

@font-face {
    font-family: 'apache';
    src: url('ressources/apache.ttf');
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-family: 'minecraft', 'sans-serif';
    color: #FFF;
}

.scores {
    border : 2px solid white;
    height: 560px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid white;
    font-family: 'apache'
}

th {
    font-family: 'minecraft', 'sans-serif';
}