body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
	font-family: 'minecraft';
	src: url('ressources/fonts/Minecrafter.Alt.ttf') format('truetype');
}

@font-face {
    font-family: 'apache';
    src: url('ressources/fonts/apache.ttf');
}

@font-face {
    font-family: 'atari';
    src: url('ressources/fonts/atari.ttf');
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-family: 'atari', 'sans-serif';
    color: #FFF;
}

.scores {
    height: 560px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

td, th {
    font-family: 'atari'
}

th {
    font-family: 'atari', 'sans-serif';
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'minecraft';
    padding: 10px;
    cursor: pointer;
    margin-top: 25px;
}